<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Homepage</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css"
          th:href="@{/css/display_form.css}" />
</head>
<body>
<div style="padding-left: 30px;padding-right:30px;">
    <h1>Home</h1>
    <a th:href="@{/logout}">Logout</a>
    <div></div>
    <a th:if="${isAdmin}" th:href="@{/admin/dashboard}">Dashboard</a>
    <br th:if="${isAdmin}" /><br/>
    <h2>User Details</h2>
    <table>
        <tbody>
        <tr>
            <td><strong>User Id:</strong></td>
            <td><span th:text="${usersDTO.userId}"></span></td>
        </tr>
        <tr>
            <td><strong>First Name:</strong></td>
            <td><span th:text="${usersDTO.firstName}"></span></td>
        </tr>
        <tr>
            <td><strong>Last Name:</strong></td>
            <td><span th:text="${usersDTO.lastName}"></span></td>
        </tr>
        <tr>
            <td><strong>Mobile Number:</strong></td>
            <td><span th:text="${usersDTO.mobileNum}"></span></td>
        </tr>
        <tr>
            <td><strong>Email:</strong></td>
            <td><span th:text="${usersDTO.email}"></span></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>